{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });
        });
    </script>
{% endblock %}
{#<div class="col-md-2">#}
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title"><strong>&nbsp;&nbsp;{{ "Fokus"|trans }}</strong>
                </div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
            </div>
            <li class="list-group-item text-danger inline">
                &nbsp;<span class="glyphicon glyphicon-time">&nbsp;</span>
                <a href="{{ path("taskHeute") }}"> {{ 'Heute'|trans }}</a>
                <span class="badge badge-important pull-right">{{ tasksHeute|length }}</span>
            </li>
            <li class="list-group-item text-success inline">
                &nbsp;<span class="glyphicon glyphicon-ok">&nbsp;</span>
                <a href="{{ path("taskErledig") }}"> {{ 'Erledigt'|trans }}</a>
                <span class="badge badge-success pull-right">{{ tasksErledig|length }}</span>
            </li>
            <li class="list-group-item text-primary inline">
                &nbsp;<span class="glyphicon glyphicon-star">&nbsp;</span>
                <a href="{{ path("meinTask") }}"> {{ 'Meine Aufgaben'|trans }}</a>
            </li>
        </div>
    </div>
    {#-- listen ----------------------------------------#}
    <div class="row">
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title inline">
                        <strong>&nbsp;&nbsp;{{ 'Kunden'|trans }} </strong>
                        <a id="client_add_link" href="{{ path('client_create') }}" data-toggle="tooltip" data-original-title="{{ 'Neue Kunde'|trans }}">
                            <span class="glyphicon glyphicon-plus-sign pull-right"></span>
                        </a>
                    </h4>
                </div>
                <div>
                    <ul class="list-group"> {#---------------listar los clientes registrados#}
                        {% for client in clients %}
                            <style>
                                li[id|="{{ client.id }}"]{
                                    color: #{{ client.color }};
                                }
                            </style>
                            <li class="list-group-item text-primary inline" id="{{ client.id }}">
                                &nbsp;<span class="glyphicon glyphicon-stop"></span>
                                <a href="{{ path('tasksClient', { 'id': client.id }) }}">{{ client.name }}</a>
                                <a href="{{ path('client_edit', { 'id': client.id }) }}" data-toggle="tooltip" data-original-title="{{ 'Abändern Kunde'|trans }}">
                                    <span class="glyphicon glyphicon-edit pull-right"></span>
                                </a>
                            </li>                                
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{#</div>#}
